*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
#cent{
    background: linear-gradient(to right,grey,silver,grey);
}

#hed{
    color: darkred;
    margin-left: 41%;
    margin-top: 2%;
    font-size: 45px;
}
#seis{
   background-color: blanchedalmond;
    position: absolute;
    top: 15%;
    left: 40%;
    width: 300px;height: 500px;
}
#seis tr td{
    padding: 10px;
    color: rgb(223, 76, 7);
   
}

#seis tr td:hover{
  background-color: red;
  color: aqua;
}


